background: linear-gradient(209deg, #0000ff, #ffff00, #ff0000);
background-size: 600% 600%;

-webkit-animation: AnimationName 41s ease infinite;
-moz-animation: AnimationName 41s ease infinite;
animation: AnimationName 41s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}
@keyframes AnimationName { 
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}

